header{
    padding: 3em;
}

#img-featured {
    max-width: 50%;
    height: auto;
}

h1{
    text-align: center;
}

header p{
    margin: 0 10vw;
}

main{
    width: 75%;
    margin: auto;
}

h1, h2, h5{
    margin-top: 1em;
}

h2{
    border-bottom: 1px solid #ccc;
}